# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# Django
db.sqlite3
media/
staticfiles/

# Git
.git/
.gitignore

# OS / Editor
.DS_Store
.idea/
.vscode/

# Logs
*.log
