trigger:
  branches:
    include:
      - main
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  pythonVersion: '3.11'
  DJANGO_SETTINGS_MODULE: 'your_project.settings'
  POSTGRES_DB: 'test_db'
  POSTGRES_USER: 'postgres'
  POSTGRES_PASSWORD: 'postgres'
  POSTGRES_HOST: 'localhost'
  POSTGRES_PORT: '5432'

stages:
- stage: Build
  displayName: Build and Test Django App
  jobs:
  - job: Build
    displayName: Install and Test
    steps:

    - task: UsePythonVersion@0
      inputs:
        versionSpec: '$(pythonVersion)'
        addToPath: true

    - script: |
        python -m pip install --upgrade pip
        pip install virtualenv
        python -m virtualenv venv
        source venv/bin/activate
        pip install -r requirements.txt
      displayName: Install dependencies

    - script: |
        source venv/bin/activate
        python manage.py migrate
      displayName: Run migrations

    - script: |
        source venv/bin/activate
        python manage.py test
      displayName: Run tests

    - script: |
        source venv/bin/activate
        python manage.py collectstatic --noinput
      displayName: Collect static files
