version: "3.9"

services:
  web:
    build: .
    container_name: django_app
    command: >
      sh -c "
      echo 'Waiting for PostgreSQL...' &&
      until pg_isready -h db -p 5432; do
        sleep 1;
      done &&
      echo 'PostgreSQL started' &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db


  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: stripe_db
      POSTGRES_USER: stripe_user
      POSTGRES_PASSWORD: strongpassword
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
